FONT             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
TD               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
TR               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
BODY             {
   FONT-FAMILY: Verdana,Helvetica; 
   FONT-SIZE: 10px; 
   BACKGROUND-COLOR: #FFDC37; 
   SCROLLBAR-FACE-COLOR: #FFFF66; 
   SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
   SCROLLBAR-SHADOW-COLOR: #FFFFFF; 
   SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; 
   SCROLLBAR-ARROW-COLOR: #000000; 
   SCROLLBAR-TRACK-COLOR: #F6F6EB; 
   SCROLLBAR-DARKSHADOW-COLOR: #000000 }
P                {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
DIV              {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
INPUT            {BACKGROUND-COLOR: #f1f1f1; border: 2px #CCCCCC solid; FONT-SIZE:10px; FONT-FAMILY:Verdana,Helvetica; }
TEXTAREA         {BACKGROUND-COLOR: #f1f1f1; BORDER-TOP-COLOR: #363636; BORDER-LEFT-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
SELECT           {BACKGROUND-COLOR: #f1f1f1; BORDER-TOP-COLOR: #C8C8C8; BORDER-LEFT-COLOR: #C8C8C8; BORDER-RIGHT-COLOR: #C8C8C8; BORDER-BOTTOM-COLOR: #C8C8C8; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
FORM             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
HR 				 { COLOR #CC9933; BORDER:0; BACKGROUND-COLOR: #CC9933; HEIGHT:1}
OPTION           {BACKGROUND-COLOR: #f1f1f1;}
A:link           {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:active         {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:visited        {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:hover          {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline }

#tab A{
background-color: #FFBE0C; 
	border-left:1px solid #FFBE0C;
	border-top:1px solid #FFBE0C;
	border-right:1px solid #FFBE0C;
	border-bottom:1px solid #FFBE0C;
display: block;
text-decoration: none;
font: bold 11px Arial;
color: #FFFFFF;
/*height: 16px;*/
width=75px;
float: left;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 7px;
padding-left: 7px;
/*background-image: url(../im/background/menutab_background1.gif);*/
text-align: center;
white-space:nowrap;
}
#tab A:hover, #tab A.current{
background-color: #FFCC00;
border-top:1px solid #FFBE0C;
background: url(../im/background/menutab_background1.gif) no-repeat bottom center #FFFF00 ;
color: #000000;
}
#tab A.here:visited {
  background: url(../im/background/menutab_background3.gif) no-repeat bottom center #CC0000 ;
  border-top:1px solid #FFBE0C;
  color: #FFFFFF;
}

.borderHeightBottomMenuTabYes      {BACKGROUND-COLOR: #CC9933; border:0px #d8d8c4; border-right-style:solid; border-left-style:solid; border-top-style:solid; border-bottom-style:none;}


.titre           {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; letter-spacing: 2px}
.tiny            {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px}
.fontrouge       {COLOR: #CC0000}
.FontGris        {COLOR: #CCCCCC}
.fontMenuCategory    {COLOR: #000000}
.fontMenuSubCategory    {COLOR: #999999}
.fontMenuSubCategorySelected    {COLOR: #CC0000; FONT-WEIGHT: bold}

.PromoFont             {COLOR: #000000; FONT-SIZE: 12px;}
.PromoFontColorNumber  {COLOR: #CC0000; FONT-SIZE: 12px;}
.FontColorTotalPrice   {COLOR: #CC0000; FONT-SIZE: 12px;}

.caddieInfoVide    	   {BACKGROUND-COLOR: #FFFF66; border: 0px #FFFF66 solid }
.caddieBoxVide         {BACKGROUND-COLOR: #FFFF66; border-color:#CCCCCC; border-width:0px; border-style:solid;}
.caddie-fond   		   {BACKGROUND-COLOR: #CC9933; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.caddie-box            {BACKGROUND-COLOR: #FFFF72}			
.cartItem			   {BACKGROUND-COLOR: #FFFFFF; border-width:1px; border-color:#FFFFFF; border-top-style:dotted; border-bottom-style:none; border-right-style:none; border-left-style:none;}
.cartItemFont          {COLOR: #CC0000}
.caddie-art-tot        {BACKGROUND-COLOR: #FFA800; border-width:0px; border-color:#FFFFFF; border-left-style:solid; border-right-style:solid; border-top-style:solid; border-bottom-style:solid;}
.TABLEInfoCaddie       {BACKGROUND-COLOR: #FFFF72; border: 2px #FFA800 solid; border-bottom:0px}

.moduleMenu          {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleMenuVertical  {BACKGROUND-COLOR: #none; padding:0px; }
.moduleInfo          {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.moduleInterface     {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.moduleLangue      	{BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.moduleMessage       {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleNavigate      {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleNews          {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.modulePromo         {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.moduleQuick         {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleSearch        {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.moduleSubscribe     {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.moduleTop10         {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; padding:0px; }
.moduleConverter     {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleAffiliate     {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleId            {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleDevis         {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleLastView      {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }
.moduleRss           {BACKGROUND-COLOR: #FFFF66; border-width:0px; border-color:#CC9933; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; padding:0px; }

.moduleIdTitre		            {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid}
.moduleCaddieTitre		        {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid}
.moduleMenuTitre                {BACKGROUND-COLOR: none; border: 0px #FFFF66 solid;}
.moduleInfoTitre                {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleInterfaceTitre           {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleLangueTitre      	    {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleMessageTitre             {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleNavigateTitre            {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleNewsTitre                {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.modulePromoTitre               {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleQuickTitre               {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleSearchTitre              {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleSubscribeTitre           {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleTop10Titre               {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleConverterTitre           {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleAffiliateTitre           {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleDevisTitre               {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleLastViewTitre            {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }
.moduleRssTitre                 {BACKGROUND-COLOR: #990000; border: 0px #FFFF66 solid }

.TABLEBorderDotted                      {BACKGROUND-COLOR: #FFFF66; border: 1px #CC9933 solid }
.backgroundCategorySelected             {BACKGROUND-COLOR: #FFFFFF}
.backgroundMenuSousCategory             {BACKGROUND-COLOR: #FFFF66}
.TABLEMenuPathCenter                    {BACKGROUND-COLOR: #FFFFFF; FONT-WEIGHT:bold; border: 1px #C8C8C8 dotted; padding:3px;}
.TABLEMenuPathTopPageMenuH              {BACKGROUND-COLOR: #FFBE0C; border:2px #FFA800; border-right-style:solid; border-left-style:solid; border-top-style:none; border-bottom-style:solid}
.TABLEMenuPathTopPage                   {BACKGROUND-COLOR: #FFBE0C; border-width:2px; border-color:#FFA800; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; border-top-style:none}
.TABLEMenuPathTopPageMenuTabOff         {BACKGROUND-COLOR: #FFBE0C; border-width:2px; border-color:#FFA800; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; border-top-style:solid}
.TABLEBottomPage                        {BACKGROUND-COLOR: #FFBE0C; border: 2px #FFA800 solid}
.TABLEPageCentreProducts                {BACKGROUND-COLOR: #FFFFFF; border: 1px #CC9933 solid }
.TABLESortByCentre                      {BACKGROUND-COLOR: #FFFFFF; border: 1px #CC9933 solid}
.TABLEPromoBannerTop                    {BACKGROUND-COLOR: #none; border: 0px #CC9933 solid; padding:10px;}
.TABLE1                                 {BACKGROUND-COLOR: #FFFFFF; border: 2px #CCCCCC solid }
.TABLEBoxUpdateCart                     {BACKGROUND-COLOR: #DCA000; border: 2px #CC9933 solid }
.TABLEBoxesProductsDisplayedCentrePage  {BACKGROUND-COLOR: #FFBE0C; border: 3px #C8C8C8 solid}
.TABLEBoxProductsDisplayedTop           {BACKGROUND-COLOR: #F0F0F0; border: 0px #FFFFFF solid; padding:4px}
.TABLEBoxProductsDisplayedMiddle        {BACKGROUND-COLOR: #F0F0F0; border: 0px #CCCCCC solid}
.TABLEBoxProductsDisplayedMiddlePrice   {BACKGROUND-COLOR: #F0F0F0; border: 0px #FFFFFF solid; padding:4px}
.TABLEBoxesProductsDisplayedBottom      {BACKGROUND-COLOR: #F0F0F0; border-width:0px; border-color:#CC9933; border-left-style:none; border-right-style:none; border-bottom-style:none; border-top-style:solid}
.TABLETitreProductDescription           {BACKGROUND-COLOR: #FFFF66; border: 2px #CCCCCC solid; padding-top: 5px; padding-bottom: 5px}
.TDTableListLine1                       {BACKGROUND-COLOR: #FFFFCC}
.TDTableListLine2                       {BACKGROUND-COLOR: #FFFFFF}
.TABLESousMenuPageCategory              {BACKGROUND-COLOR: #FFFFCC; border: 1px #CCCCCC solid}
.TABLETopTitle                          {BACKGROUND-COLOR: #FFFFFF; border: 1px #000000 solid }
.backgroundTDColonneModuleLeft              {BACKGROUND-COLOR: none; border: 0px #CCCCCC solid; padding-top:0px;}
.backgroundTDColonneModuleRight              {BACKGROUND-COLOR: none; border: 0px #CCCCCC solid; padding-top:0px;}
.TABLEBackgroundBoutiqueCentre          {BACKGROUND-COLOR: none; border: 0px #CCCCCC solid}
.TABLEPromoNewsBottomPage               {BACKGROUND-COLOR: #FFFFCC; border: 1px #CCCCCC solid}
.TABLEPaymentProcess                    {BACKGROUND-COLOR: #F1F1F1; border: 1px #CCCCCC solid}
.TABLEPaymentProcessSelected            {BACKGROUND-COLOR: #FFBE0C;}
.darkBackground                                 {BACKGROUND-COLOR: #FFA800; color:#FFFFFF; border: 0px #FAFAFA solid}
.styleAlert                                     {padding:5px; border:1px #FF0000 dotted; FONT-WEIGHT:bold}
.tablesFooter                                    {BACKGROUND-COLOR: #none; border:0px #FFA800 solid }
.TDotted                                        {BACKGROUND-COLOR: #none; border:0px #CCCCCC dotted; padding-top:3px; padding-bottom:3px;}

OPTION.grey{background-color:#CCCCCC; color:#FFFFFF}
OPTION.black{background-color:#000000; color:#CCCCCC}
OPTION.pink{background-color:#FFCCCC; color:#000000}
OPTION.yellow{background-color:#FFDC37; color:#000000}
OPTION.white{background-color:#FFFFFF; color:#000000}
OPTION.Blue{background-color:#0000FF; color:#FFFFFF}
OPTION.red{background-color:#CC0000; color:#FFFFFF}
OPTION.grey2{background-color:#F1F1F1; color:#FF0000}

.backGroundTop                            {background-color: #FFDC37;
                                           /*background-image: url(../im/background/bannerTop2.gif);*/
                                           background-repeat: no-repeat;
                                           background-position: right top
                                           }
.optionCaddieTop      {BACKGROUND-COLOR: #FFBE0C; border-width:0px; border-color:#CC0000; border-top-style:solid; border-left-style:none; border-right-style:solid; border-bottom-style:none; padding:0px}
.optionCaddieBottom   {BACKGROUND-COLOR: #FFFFFF; border: 2px #CCCCCC solid}
.border               {border: 1px #CCCCCC solid}
.borderLeft            {background-color: none}
.colorBackgroundTableMenuTab {BACKGROUND-COLOR: #FFBE0C; border-width:1px; border-color:#FFA800; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:none;}
.dotMenu            {/*none*/)}

/* Paginatie */
div.pagination {
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 0px;
   text-align:right;
}
div.pagination a {
	padding: 0px 3px 1px 3px;
	margin: 1px 1px 1px 0px;
	border: 1px solid #FFFFFF;
	text-decoration: none; /* no underline */
	color: #000000;
}
div.pagination a:hover {
	border: 1px solid #FFA800;
	color: #000000;
	background-color: #FFFF66;
}
div.pagination span.current {
	padding: 0px 3px 1px 3px;
	margin: 1px 1px 1px 0px;
	border: 3px solid #FFA800;
	background-color: #FFFF66;
	color: #000000;
	font-weight:bold;
}
/* Pagination fleches navigation*/ 
div.pagination span.disabled a {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background:#FFFFFF;
}
div.pagination span.disabled a:hover {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background:#FFFFFF;
}
/*-------------
///////////////
MENU HORIZONTAAL
///////////////
-------------*/
.tableDynMenuH {
    background-color:#FFDC37;
    padding-bottom:1px; 
    padding-top:0px;
    border-top-width:1px; border-color:#FFA800; border-top-style:solid;
    border-right-width:1px; border-color:#FFA800; border-right-style:solid;
    border-left-width:1px; border-color:#FFA800; border-left-style:solid;
    border-bottom-width:3px; border-color:#FFA800; border-bottom-style:solid;
    margin-bottom:0px;
}
/* center menu */
.center1 { 
text-align: center;
}
.center2 {
margin-left: auto;
margin-right: auto;
}
#borderTopMainMenu {background:#none; padding:0px; margin:0px;}
#borderBottomMainMenu {background:#none; padding:0px; margin:0px;}
#test3 {background:#none; padding:0px; margin:0px;}
#borderTopSousmenu {background:#none; padding:0px; margin:0px;}
#borderBottomSousmenu {background:#FFA800; padding:0px; margin:0px;}

div#menu45 {margin-left:0px;}
div#menu45 a {color:#666666; padding:0px;}
div#menu45 a:hover {color:#000000; FONT-WEIGHT: bold}
div#menu45 ul {padding:0px; margin:0px; text-align:center; top:24px; left:0px;}
div#menu45 ul li {position:relative; list-style:none; margin-right:0px; float:left;}
div#menu45 ul ul {position: absolute; display:none; padding:0px 0px 0px 0px; left:0px;}

div#menu45 li {background:#FFDC37; top:1px; left:0; padding:0px;}
div#menu45 li:hover {background:#FFDC37; border-right:0px #FFA800 solid;}
div#menu45 li.sousmenuA {background:#FFDC37; top:1px; left:0; padding:0px;}
div#menu45 li.sousmenuA:hover {background:#FFDC37;}

div#menu45 li.sousmenu {background: url(../im/fleche_bottom.gif) 95% 50% no-repeat #FFDC37; padding:0px;}
div#menu45 li.sousmenu:hover {background:url(../im/fleche_bottom_grey.gif) 95% 50% no-repeat;}
div#menu45 li.sousmenu.plop {background:url(../im/fleche_right.gif) 95% 50% no-repeat #FFA800; padding:0px;}
div#menu45 li.sousmenu.plop:hover {background:url(../im/fleche_right.gif) 95% 50% no-repeat #FAFAFA;}

div#menu45 li a {text-decoration:none; padding:5px 0px 5px 0px; display:block; margin:0px; left:101px;}

div#menu45 ul.niveau1 li.sousmenu:hover ul.niveau2 {display:block; border-right:1px #FFA800 solid; border-left:1px #FFA800 solid;}
div#menu45 ul.niveau2 li.sousmenu:hover ul.niveau3 {display:block; border-top:1px #FFA800 solid; border-right:1px #FFA800 solid; border-left:1px #FFA800 solid; top:-2px;}
div#menu45 ul.niveau3 li.sousmenu:hover ul.niveau4 {display:block; border-top:1px #FFA800 solid; border-right:1px #FFA800 solid; border-left:1px #FFA800 solid; top:-2px;}
 
div#menu45 ul.niveau3 {top:-1px;}
div#menu45 ul.niveau4 {top:-1px;;}

div#menu45 ul.niveau3 li { background: #FFDC37}
div#menu45 ul.niveau3 li:hover { background: #FFDC37}
div#menu45 ul.niveau4 li { background: #FFDC37}
div#menu45 ul.niveau4 li:hover { background: #FFDC37}

div#menu45 ul.niveau1 li.sousmenu.plop {background: url(../im/fleche_right.gif) 95% 50% no-repeat #FFDC37; padding:0px;}
div#menu45 ul.niveau2 li.sousmenu.plop {background: url(../im/fleche_right.gif) 95% 50% no-repeat #FFDC37; padding:0px;}
div#menu45 ul.niveau3 li.sousmenu.plop {background: url(../im/fleche_right.gif) 95% 50% no-repeat #FFDC37; padding:0px;}

div#menu45 ul.niveau1 li.sousmenu.plop:hover {background:#FFDC37;}
div#menu45 ul.niveau2 li.sousmenu.plop:hover {background:#FFDC37;}
div#menu45 ul.niveau3 li.sousmenu.plop:hover {background:#FFDC37;}


/*----------
////////////
MENU VERTICAAL
////////////
----------*/
div#menu44 {w/idth:160px;}
div#menu44 a {color:#000000;}
div#menu44 ul {padding:0px; border:3px #FFA800 solid; margin:0px; background:#FFFF66;}
div#menu44 li:hover {BACKGROUND:#FFFFFF;}

div#menu44 li.sousmenu {BACKGROUND: url(../im/fleche_right.gif) 94% 50% no-repeat;}
div#menu44 li.sousmenu:hover {BACKGROUND: url(http://www.ecomshop.be/im/fleche_right_grey.gif) 94% 50% no-repeat #FFFFFF; margin:0px;}
div#menu44 li.sousmenu.plop2 { background:url(../im/fleche_bottom.gif) 95% 50% no-repeat #FFFFCC;}
div#menu44 li.sousmenu.plop2:hover {/* b/ackground:url(../im/fleche_bottom_red.gif) 94% 50% no-repeat #FFFFCC;*/}

div#menu44 ul li {position:relative; list-style:none; border-bottom:1px #FFFF66 solid; }
div#menu44 ul ul {position:absolute; top:-1px; left:120px; display:none}

div#menu44 li a {text-decoration: none; padding:5px 0px 7px 5px; display:block; border-left:4px solid #FFFF66;}
div#menu44 ul.niveau0 li.sousmenu:hover ul.niveau1 {display:block; position:absolute; top:24px; margin-top:1px; left:-3; height:auto;}
div#menu44 ul.niveau1 li.sousmenu:hover ul.niveau2 {display:block;} 
div#menu44 ul.niveau2 li.sousmenu:hover ul.niveau3 {display:block;}
div#menu44 ul.niveau3 li.sousmenu:hover ul.niveau4  {display:block;}

div#menu44 li a:hover {border-left-color: #0000FF;}
div#menu44 ul ul li a:hover {border-left-color: #CC0000;}
div#menu44 ul ul ul li a:hover {border-left-color: #00CC00;}
div#menu44 ul ul ul ul li a:hover {border-left-color: #000000;}
div#menu44 ul ul ul ul ul li a:hover {border-left-color: #FF0000;}

 
.raised {background: #none; margin:0 auto;}
.raised p {margin:0 10px; padding:0px;}
.raised .top, .raised .bottom {display:block; background:transparent; font-size:1px;}
.raised .b1, .raised .b2, .raised .b3, .raised .b4, .raised .b1b, .raised .b2b, .raised .b3b, .raised .b4b {display:block; overflow:hidden;}
.raised .b1, .raised .b2, .raised .b3, .raised .b1b, .raised .b2b, .raised .b3b {height:1px;}
.raised .b2 {BACKGROUND:#FFFF72; border-left:3px solid #FFA800; border-right:3px solid #FFA800;}
.raised .b3 {BACKGROUND:#FFFF72; border-left:3px solid #FFA800; border-right:3px solid #FFA800;}
.raised .b4 {BACKGROUND:#FFFF72; border-left:3px solid #FFA800; border-right:3px solid #FFA800;}
.raised .b4b {BACKGROUND:#FFFF72; border-left:3px solid #FFA800; border-right:3px solid #FFA800;}
.raised .b3b {BACKGROUND:#FFFF72; border-left:3px solid #FFA800; border-right:3px solid #FFA800;}
.raised .b2b {BACKGROUND:#FFFF72; border-left:3px solid #FFA800; border-right:3px solid #FFA800;}
.raised .b1 {margin:0 5px; height:2px; background:#FFA800;}
.raised .b2, .raised .b2b {margin:0 3px; border-width:0 3px;}
.raised .b3, .raised .b3b {margin:0 2px;}
.raised .b4, .raised .b4b {height:0px; margin:0 1px;}
.raised .b1b {margin:0 5px; height:2px; background:#FFA800;}
.raised .boxcontent {display:block; BACKGROUND-IMAGE: url(../im/background/module_left.gif);  BACKGROUND-REPEAT: repeat-y; border-left:3px solid #FFA800; border-right:3px solid #FFA800;}
.raised .contentTop {BACKGROUND:#FFFF72; border-bottom:0px #CCCCCC solid;}

 
.raised2 {background: #none; margin:-1 auto;}
.raised2 p {margin:0 10px; padding:0px;}
.raised2 .top2, .raised2 .bottom2 {display:block; background:transparent; font-size:1px;}
.raised2 .b1, .raised2 .b2, .raised2 .b3, .raised2 .b4, .raised2 .b1b, .raised2 .b2b, .raised2 .b3b, .raised2 .b4b, .raised2 .b1b2 {display:block; overflow:hidden;}
.raised2 .b1, .raised2 .b2, .raised2 .b3, .raised2 .b1b, .raised2 .b2b, .raised2 .b3b, .raised2 .b1b2 {height:1px;}
.raised2 .b2 {BACKGROUND:#FFFF66; border-left:2px solid #FFA800; border-right:2px solid #FFA800;}
.raised2 .b3 {BACKGROUND:#FFFF66; border-left:2px solid #FFA800; border-right:2px solid #FFA800;}
.raised2 .b4 {BACKGROUND:#FFFF66; border-left:2px solid #FFA800; border-right:2px solid #FFA800;}
.raised2 .b4b {BACKGROUND:#FFFF66; border-left:2px solid #FFA800; border-right:2px solid #FFA800;}
.raised2 .b3b {BACKGROUND:#FFFF66; border-left:2px solid #FFA800; border-right:2px solid #FFA800;}
.raised2 .b2b {BACKGROUND:#FFFF66; border-left:2px solid #FFA800; border-right:2px solid #FFA800;}
.raised2 .b1 {margin:0 5px; height:2px; background:#FFA800;}
.raised2 .b2, .raised2 .b2b {margin:0 3px; border-width:0 2px;}
.raised2 .b3, .raised2 .b3b {margin:0 2px;}
.raised2 .b4, .raised2 .b4b {height:2px; margin:0 1px;}
.raised2 .b1b {margin:0 5px; height:2px; background:#FFA800;}
.raised2 .b1b2 {margin:0 0px; height:2px; background:#FFA800;}
.raised2 .boxcontent2 {display:block;  BACKGROUND:#FFFF66; border-left:2px solid #FFA800; border-right:2px solid #FFA800;}
.raised2 .boxcontent2No {display:block; border-left:2px solid #FFA800; border-right:2px solid #FFA800; BACKGROUND:#FFFF66; border-top:2px #FFA800 solid;}
.raised2 .contentTop2 {BACKGROUND:#FFFF66; border-bottom:2px #FFA800 solid;}

.backgroundHeader2 {BACKGROUND-COLOR: #FFDC37;}

 
a.tooltip em {
    display:none;
}
a.tooltip:hover {
    border: 0; 
    position: relative; 
    z-index: 500; 
    text-decoration:none;
}
a.tooltip:hover em {
    font-style: normal; 
    display: block; 
    position: absolute; 
    top: 2px; 
    left: 63px; 
    padding: 5px; 
    color: #000000; 
    border: 2px solid #FFA800; 
    background: #FFFF66; 
}
 
.searchEngineHeader {border:1px #CCCCCC solid; background:url(../im/loupe.gif) top left no-repeat #FFFF72; width:140px; height:18px; padding-left:17px;}

 

 
a.tooltip2 em {
    display:none;
}
a.tooltip2:hover {
    border: 0; 
    position: relative; 
    z-index: 500; 
}
a.tooltip2:hover span {
    BACKGROUND-IMAGE:url(../im/zzz_red.gif);
}
a.tooltip2 span {
    padding:0px 0px 0px 0px;
}
a.tooltip2:hover em {
    font-style: normal; 
    display: block;
    position: absolute; 
    padding:5px 0px 0px 0px;  /* padding Box */
    color: #000000;  /* font Box */
    border: 1px solid #666666;  /* border Box */
    background-color: #FFFFFF;  /* background Box */
}
 
.fondSelectedProduct {background-color: #000000;}


a.tooltip3 em {
    display:none;
}
a.tooltip3:hover {
    border: 0; 
    position: relative; 
    z-index: 500; 
    text-decoration:none;
}
a.tooltip3:hover em {
    font-style: normal; 
    display: block; 
    position: absolute; 
    top: 14px; 
    left: 63px; 
    padding: 5px; 
    color: #000000; 
    border: 0px solid #CCCCCC; 
    background: #none; 
}

 
.roundCornerTableDefaultBackground	{BACKGROUND-COLOR: #FFFFCC;}
.raised3 {background: #none; margin:0 auto;}
.raised3 p {margin:0 10px; padding:0px;}
.raised3 .top2, .raised3 .bottom2 {display:block; background:transparent; font-size:1px;}
.raised3 .b1, .raised3 .b2, .raised3 .b3, .raised3 .b4, .raised3 .b1b, .raised3 .b2b, .raised3 .b3b, .raised3 .b4b, .raised3 .b1b2 {display:block; overflow:hidden;}
.raised3 .b1, .raised3 .b2, .raised3 .b3, .raised3 .b1b, .raised3 .b2b, .raised3 .b3b, .raised3 .b1b2 {height:1px;}
.raised3 .b2 {BACKGROUND:#FFFFCC; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised3 .b3 {BACKGROUND:#FFFFCC; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised3 .b4 {BACKGROUND:#FFFFCC; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised3 .b4b {BACKGROUND:#FFFFCC; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised3 .b3b {BACKGROUND:#FFFFCC; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised3 .b2b {BACKGROUND:#FFFFCC; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised3 .b1 {margin:0 5px; background:#FFA800; height:1px;}
.raised3 .b2, .raised3 .b2b {margin:0 3px; border-width:0 2px;}
.raised3 .b3, .raised3 .b3b {margin:0 2px;}
.raised3 .b4, .raised3 .b4b {height:2px; margin:0 1px;}
.raised3 .b1b {margin:0 5px; background:#FFA800; height:1px;}
.raised3 .b1b2 {margin:0 0px; background:#FFA800; height:1px;}
.raised3 .boxcontent2 {display:block; BACKGROUND:#FFFFCC; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised3 .boxcontent2No {display:block; border-left:1px solid #FFA800; border-right:1px solid #FFA800; BACKGROUND:#FFFFCC; border-top:1px #FFA800 solid;}


.raised4 {background: #none; margin:0 auto;}
.raised4 p {margin:0 10px; padding:0px;}
.raised4 .top2, .raised4 .bottom2 {display:block; background:transparent; font-size:1px;}
.raised4 .b1, .raised4 .b2, .raised4 .b3, .raised4 .b4, .raised4 .b1b, .raised4 .b2b, .raised4 .b3b, .raised4 .b4b, .raised4 .b1b2 {display:block; overflow:hidden;}
.raised4 .b1, .raised4 .b2, .raised4 .b3, .raised4 .b1b, .raised4 .b2b, .raised4 .b3b, .raised4 .b1b2 {height:1px;}
.raised4 .b2 {BACKGROUND:#FFDC37; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised4 .b3 {BACKGROUND:#FFDC37; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised4 .b4 {BACKGROUND:#FFDC37; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised4 .b4b {BACKGROUND:#FFDC37; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised4 .b3b {BACKGROUND:#FFDC37; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised4 .b2b {BACKGROUND:#FFDC37; border-left:1px solid #FFA800; border-right:1px solid #FFA800;}
.raised4 .b1 {margin:0 5px; background:#FFA800; height:1px;}
.raised4 .b2, .raised4 .b2b {margin:0 3px; border-width:0 2px;}
.raised4 .b3, .raised4 .b3b {margin:0 2px;}
.raised4 .b4, .raised4 .b4b {height:2px; margin:0 1px;}
.raised4 .b1b {margin:0 5px; background:#FFA800; height:1px;}
.raised4 .b1b2 {margin:0 0px; background:#FFDC37; height:1px;}
.raised4 .boxcontent2 {display:block; BACKGROUND:#FFDC37; border-left:1px #FFA800 solid; border-right:1px #FFA800 solid;}
.raised4 .boxcontent2No {display:block; border-left:1px #FFA800 solid; border-right:1px #FFA800 solid; BACKGROUND:#FFDC37; border-top:1px #FFA800 solid;}

.tableDynMenuHRodunded {
    background-color:#none;
    padding-bottom:2px;
    padding-top:0px;
    margin-bottom:0px;
}

#formG input {
	border:2px solid #CCCCCC;
	color:#666666;
	height:23px;
}
#formG textarea {
	border:2px solid #CCCCCC;
	color:#666666;
}