FONT             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
TD               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
TR               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
BODY             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px; BACKGROUND-COLOR: #FFFFFF; SCROLLBAR-FACE-COLOR: #FFCCCC; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; SCROLLBAR-SHADOW-COLOR: #FFFFFF; SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #FFFFFF; SCROLLBAR-DARKSHADOW-COLOR: #000000 }
P                {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
DIV              {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
INPUT            {BACKGROUND-COLOR: #FFF4F4; BORDER:1px #363636 solid; FONT-SIZE:10px; FONT-FAMILY: Verdana,Helvetica;}
TEXTAREA         {BACKGROUND-COLOR: #FFF4F4; BORDER:1px #363636 solid; FONT-SIZE:10px; FONT-FAMILY: Verdana,Helvetica;}
SELECT           {BACKGROUND-COLOR: #FFF4F4; BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
FORM             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
HR 				 { COLOR #FFCCCC; BORDER:0; BACKGROUND-COLOR: #FFCCCC; HEIGHT:1}

A:link           {BACKGROUND: none; COLOR: #CC0000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:active         {BACKGROUND: none; COLOR: #CC0000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:visited        {BACKGROUND: none; COLOR: #CC0000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:hover          {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline }

#tab A{
background-color: #FFCCCC; 
	border-left:1px solid #ffffff;
	border-top:0px solid #ffffff;
	border-right:1px solid #ffffff;
	border-bottom:0px solid #aaaaaa;
display: block;
text-decoration: none;
font: bold 10px Arial;
color: #FFFFFF;
/*height: 16px;*/
width=75px;
float: left;
margin-right: -1px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 7px;
padding-left: 7px;
/*background-image: url(../im/background/menutab_background1.gif);*/
text-align: center;
white-space:nowrap;
}
#tab A:hover, #tab A.current{
background-color: #FFCCCC;
border:1px #FFFFFF; border-top-style:none; border-left-style:solid; border-right-style:solid; border-bottom-style:none;
background: url(../im/background/menutab_background1.gif) no-repeat bottom center #FFCCCC ;
color: #000000;
}
#tab A.here:visited {
  background: #CC0000; 
  border:1px #FFF4F4; border-top-style:none; border-left-style:solid; border-right-style:solid; border-bottom-style:none;
  color: #FFFFFF;
  font: bold;
}

.borderHeightBottomMenuTabYes      {BACKGROUND-COLOR: none; border:0px #d8d8c4; border-right-style:solid; border-left-style:solid; border-top-style:solid; border-bottom-style:none;}

.titre           {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; letter-spacing: 1px}
.tiny            {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px}
.fontrouge       {COLOR: #CC0000; FONT-SIZE: 10px;}
.FontGris        {COLOR: #CCCCCC; FONT-SIZE: 10px;}
.fontMenuCategory    {COLOR: #000000}
.fontMenuSubCategory    {COLOR: #CC0000}
.fontMenuSubCategorySelected    {COLOR: #CC0000; FONT-WEIGHT: bold}

.PromoFont             {COLOR: #000000; FONT-SIZE: 12px;}
.PromoFontColorNumber  {COLOR: #CC0000; FONT-SIZE: 12px;}
.FontColorTotalPrice   {COLOR: #CC0000; FONT-SIZE: 12px;}

.caddieInfoVide    	   {BACKGROUND-COLOR: #FFF4F4; border: 1px #FFCCCC solid }
.caddieBoxVide         {BACKGROUND-COLOR: #FFFFFF; border-color:#FFCCCC; border-width:0px; border-style:double;}
.caddie-fond   		   {BACKGROUND-COLOR: #FFFFFF; border-width:0px; border-color:#FFCCCC; border-top-style:double; border-left-style:double; border-right-style:double; border-bottom-style:double; padding:0px; }
.caddie-box            {BACKGROUND-COLOR: #FFF4F4}			
.cartItem			   {BACKGROUND-COLOR: #FFFFFF; border:1px #000000; border-bottom-style:dotted;}
.cartItemFont          {COLOR: #000000}
.caddie-art-tot        {BACKGROUND-COLOR: #FFF4F4; border:0px #FFCCCC; border-style:solid;}
.TABLEInfoCaddie       {BACKGROUND-COLOR: #FFFFFF; border:1px #FFCCCC; border-right-style:solid; border-left-style:solid; border-top-style:solid; border-bottom-style:solid;}

.moduleMenu          {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleMenuVertical  {BACKGROUND-COLOR: #none; padding:0px;}
.moduleInfo          {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleInterface     {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleLangue      	 {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleMessage       {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleNavigate      {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleNews          {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.modulePromo         {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleQuick         {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleSearch        {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleSubscribe     {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleTop10         {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleConverter     {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleAffiliate     {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleId            {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleDevis         {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleLastView      {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}
.moduleRss           {BACKGROUND-COLOR: #FFFFFF; border:1px #FFFFFF solid; padding:0px;}

.moduleIdTitre		            {BACKGROUND-COLOR: #CC0000; border: 2px #FFFFFF solid;}
.moduleCaddieTitre		        {BACKGROUND-COLOR: #CC0000; border: 2px #FFFFFF solid;}
.moduleMenuTitre                {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleInfoTitre                {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleInterfaceTitre           {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleLangueTitre      	    {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;} 
.moduleMessageTitre             {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleNavigateTitre            {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleNewsTitre                {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.modulePromoTitre               {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleQuickTitre               {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleSearchTitre              {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleSubscribeTitre           {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleTop10Titre               {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleConverterTitre           {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleAffiliateTitre           {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleDevisTitre               {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleLastViewTitre            {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}
.moduleRssTitre                 {BACKGROUND-COLOR: #FFFF99; border: 2px #FFCCCC solid;}

.TABLEBorderDotted                              {BACKGROUND-COLOR: #FFFFFF; border: 3px #FFCCCC double }
.backgroundCategorySelected                     {BACKGROUND-COLOR: #FFF4F4}
.backgroundMenuSousCategory                     {BACKGROUND-COLOR: none}
.TABLEMenuPathCenter                            {BACKGROUND-COLOR: #FFFFFF; FONT-WEIGHT:normal; border: 1px #FFCCCC solid}
.TABLEMenuPathTopPageMenuH                      {BACKGROUND-COLOR: #FFCCCC; border:1px #FFCCCC; border-right-style:solid; border-left-style:solid; border-top-style:none; border-bottom-style:solid}
.TABLEMenuPathTopPage                           {BACKGROUND-COLOR: #FFCCCC; border: 0px #FFCCCC solid}
.TABLEMenuPathTopPageMenuTabOff                 {BACKGROUND-COLOR: #FFCCCC; border: 1px #FFCCCC solid}
.TABLEBottomPage                                {BACKGROUND-COLOR: #FFCCCC; border: 1px #FFCCCC solid}
.TABLEPageCentreProducts                        {BACKGROUND-COLOR: #FFFFFF; border: 3px #FFCCCC dotted }
.TABLESortByCentre                              {BACKGROUND-COLOR: #FFFFFF; border: 1px #FFCCCC solid}
.TABLEPromoBannerTop                            {BACKGROUND-COLOR: #FFCCCC; border: 0px #CC0000 dotted; padding:7px}
.TABLE1                                         {BACKGROUND-COLOR: #FFFFFF; border: 1px #CCCCCC solid }
.TABLEBoxUpdateCart                             {BACKGROUND-COLOR: #FFCCCC; border: 2px #FFFFFF solid }
.TABLEBoxesProductsDisplayedCentrePage          {BACKGROUND-COLOR: #FFCCCC; border: 1px #FFCCCC solid}
.TABLEBoxProductsDisplayedTop                   {BACKGROUND-COLOR: #FFCCCC; border: 0px #999999 solid; padding:4px}
.TABLEBoxProductsDisplayedMiddle                {BACKGROUND-COLOR: #FFFFFF; border: 0px #CCCCCC solid}
.TABLEBoxProductsDisplayedMiddlePrice           {BACKGROUND-COLOR: #FFFFFF; border: 0px #CCCCCC solid}
.TABLEBoxesProductsDisplayedBottom              {BACKGROUND-COLOR: #FFFFFF; border-width:0px; border-color:#CCCCCC; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; border-top-style:none}
.TABLETitreProductDescription                   {BACKGROUND-COLOR: #FFF4F4; border: 1px #CCCCCC solid; padding-top: 10px; padding-bottom: 10px}
.TDTableListLine1                               {BACKGROUND-COLOR: #FFFFFF}
.TDTableListLine2                               {BACKGROUND-COLOR: #FFF4F4}
.TABLESousMenuPageCategory                      {BACKGROUND-COLOR: #F6F6EB; border: 1px #CCCCCC solid}
.TABLETopTitle                                  {BACKGROUND-COLOR: #FFCCCC; border: 1px #000000 solid }
.backgroundTDColonneModuleLeft                      {BACKGROUND-COLOR: #FFCCCC; border: 0px #FFCCCC solid; padding-top:0px;}
.backgroundTDColonneModuleRight                      {BACKGROUND-COLOR: #FFCCCC; border: 0px #FFCCCC solid; padding-top:0px;}
.TABLEBackgroundBoutiqueCentre                  {BACKGROUND-COLOR: #FFCCCC; border-width:1px; border-color:#CCCCCC; border-left-style:solid; border-right-style:solid; border-bottom-style:none; border-top-style:none}
.TABLEPromoNewsBottomPage                       {BACKGROUND-COLOR: #F6F6EB; border: 1px #CCCCCC solid}
.TABLEPaymentProcess                            {BACKGROUND-COLOR: #FFFFFF; border: 1px #FFCCCC solid}
.TABLEPaymentProcessSelected                    {BACKGROUND-COLOR: #FFFF99;}
.darkBackground                                 {BACKGROUND-COLOR: #FFCCCC; color:#000000; border: 0px #FAFAFA solid}
.styleAlert                                     {padding:5px; border:1px #FF0000 dotted; FONT-WEIGHT:bold}
.tablesFooter                                    {BACKGROUND-COLOR: #FFCCCC; border:0px #CCCCCC solid }
.TDotted                                        {BACKGROUND-COLOR: #none; border:0px #CCCCCC dotted; padding-top:3px; padding-bottom:3px;}

OPTION.grey{background-color:#CCCCCC; color:#FFFFFF}
OPTION.black{background-color:#000000; color:#CCCCCC}
OPTION.pink{background-color:#FFCCCC; color:#000000}
OPTION.yellow{background-color:#FFDC37; color:#000000}
OPTION.white{background-color:#FFFFFF; color:#000000}
OPTION.Blue{background-color:#0000FF; color:#FFFFFF}
OPTION.red{background-color:#CC0000; color:#FFFFFF}
OPTION.grey2{background-color:#F1F1F1; color:#FF0000}

.backGroundTop                            {background-color: #FFCCCC}
.optionCaddieTop      {BACKGROUND-COLOR: #FFCCCC; border-width:0px; border-color:#CC0000; border-top-style:solid; border-left-style:none; border-right-style:solid; border-bottom-style:none; padding:0px}
.optionCaddieBottom   {BACKGROUND-COLOR: #FFFFFF; border: 2px #FFCCCC solid}
.border               {border: 1px #CCCCCC solid}
.borderLeft            {background-color: none}
.colorBackgroundTableMenuTab {BACKGROUND-COLOR: #FFCCCC; border-width:1px; border-color:#FFFFFF; border-top-style:solid; border-left-style:none; border-right-style:solid; border-bottom-style:solid;}
.dotMenu            {/*none*/)}

/* Paginatie */
div.pagination {
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 0px;
   text-align:right;
}
div.pagination a {
	padding: 0px 3px 1px 3px;
	margin: 1px 1px 1px 0px;
	border: 1px solid #FFFFFF;
	text-decoration: none; /* no underline */
	color: #000000;
}
div.pagination a:hover {
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	font-weight:bold;
}
div.pagination span.current {
	padding: 0px 3px 1px 3px;
	margin: 1px 1px 1px 0px;
	border: 1px solid #CC0000;
	background-color: #FFF4F4;
	color: #000000;
	font-weight:bold;
}
/* Pagination fleches navigation*/ 
div.pagination span.disabled a {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background:#FFFFFF;
}
div.pagination span.disabled a:hover {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background:#FFFFFF;
}

/*-------------
///////////////
MENU HORIZONTAAL
///////////////
-------------*/

.tableDynMenuH {
    background-color:#FFF4F4;  
    padding-bottom:3px; 
    padding-top:3px;
    border:1px #FFFFFF solid; 
    border-bottom:1px #cccccc solid;
    border-right:1px #cccccc solid;
    margin-bottom:0px;
}
/* center menu */
.center1 { 
text-align: center;
}
.center2 {
margin-left: auto;
margin-right: auto;
}
#borderTopMainMenu {background:#none; padding:0px; margin:0px;}
#borderBottomMainMenu {background:#none; padding:0px; margin:0px;}
#test3 {background:#none; padding:0px; margin:0px; border-width:0px; border-color:#none; border-bottom-style:double; padding:0px}
#borderTopSousmenu {background:#FFFFFF; padding:0px; margin:0px;}
#borderBottomSousmenu {background:#f1f1f1; padding:0px; margin:0px;}

div#menu45 {margin-left:0px;}
div#menu45 a {color:#666666; padding:0px; }
div#menu45 a:hover {color:#CC0000; FONT-WEIGHT: bold}
div#menu45 ul {padding:0px; margin:1px; text-align:center; top:24px; left:0px; border-left:1px #f1f1f1 solid;}
div#menu45 ul li {position:relative; list-style:none; margin-right:-3px; float:left;}
div#menu45 ul ul {position: absolute; display:none; padding:0px 0px 0px 0px;}

div#menu45 li {background:#FAFAFA; top:0px; left:-2; padding:0px; b/order-right:1px #000000 solid;}
div#menu45 li.sousmenuA {background:#FFF4F4; top:0px; padding:0px; b/order-left:1px #000000 solid;}
div#menu45 li.sousmenuA:hover {background:#FFF4F4;}
div#menu45 li:hover {background:#FFF4F4;}

div#menu45 li.sousmenu {background: url(../im/fleche_bottom.gif) 95% 50% no-repeat #FFF4F4; padding:0px;}
div#menu45 li.sousmenu:hover {background:#FFF4F4;}
div#menu45 li.sousmenu.plop {background:url(../im/fleche_right.gif) 95% 50% no-repeat #CCCCCC; padding:0px;}
div#menu45 li.sousmenu.plop:hover {background:url(../im/fleche_right.gif) 95% 50% no-repeat #FAFAFA;}

div#menu45 li a {text-decoration:none; padding:5px 0px 5px 0px; display:block; margin:0px; left:100px;}

div#menu45 ul.niveau1 li.sousmenu:hover ul.niveau2, 
div#menu45 ul.niveau2 li.sousmenu:hover ul.niveau3 {display:block;}
div#menu45 ul.niveau3 li.sousmenu:hover ul.niveau4 {display:block;}

div#menu45 ul.niveau3 {top:-1px; left: 100px;}
div#menu45 ul.niveau4 {top:-1px; left: 100px;}

div#menu45 ul.niveau3 li { background: #FAFAFA}
div#menu45 ul.niveau3 li:hover { background: #FFF4F4}
div#menu45 ul.niveau4 li { background: #FAFAFA}
div#menu45 ul.niveau4 li:hover { background: #FFF4F4}

div#menu45 ul.niveau1 li.sousmenu.plop {background: url(../im/fleche_right.gif) 95% 50% no-repeat #FAFAFA; padding:0px;}
div#menu45 ul.niveau2 li.sousmenu.plop {background: url(../im/fleche_right.gif) 95% 50% no-repeat #FAFAFA; padding:0px;}
div#menu45 ul.niveau3 li.sousmenu.plop {background: url(../im/fleche_right.gif) 95% 50% no-repeat #FAFAFA; padding:0px;}

div#menu45 ul.niveau1 li.sousmenu.plop:hover {background:#FFF4F4;}
div#menu45 ul.niveau2 li.sousmenu.plop:hover {background:#FFF4F4;}
div#menu45 ul.niveau3 li.sousmenu.plop:hover {background:#FFF4F4;}



/*----------
////////////
MENU VERTICAAL
////////////
----------*/
div#menu44 {w/idth: 138px;}

div#menu44 a {color:#000000;}
div#menu44 a:hover {color:#000000; FONT-WEIGHT: bold}
div#menu44 ul {padding:0px; border:1px #CCCCCC solid; margin:0px; background:#FFF4F4;}

div#menu44 li:hover {BACKGROUND:#FFCCCC;}

div#menu44 li.sousmenu {BACKGROUND: url(../im/fleche_right.gif) 94% 50% no-repeat;}
div#menu44 li.sousmenu:hover {BACKGROUND: url(http://www.ecomshop.be/im/fleche_right_grey.gif) 94% 50% no-repeat #FFCCCC; margin:0px; }
div#menu44 li.sousmenu.plop2 { background:url(../im/fleche_bottom.gif) 95% 50% no-repeat #f1f1f1;}
div#menu44 li.sousmenu.plop2:hover { b/ackground:url(../im/fleche_bottom_red.gif) 94% 50% no-repeat #FFCCCC;}


div#menu44 ul li {position:relative; list-style:none; border-bottom:1px #f1f1f1 solid; }
div#menu44 ul ul {position:absolute; top:-1px; display:none;}

div#menu44 li a {text-decoration: none; padding:5px 0px 7px 5px; display:block; border-left:4px solid #FFF4F4;}
div#menu44 ul.niveau0 li.sousmenu:hover ul.niveau1 {display:block; position:absolute; top:24px; margin-top:0px; left:-1; height:auto;}
div#menu44 ul.niveau1 li.sousmenu:hover ul.niveau2 {display:block;} 
div#menu44 ul.niveau2 li.sousmenu:hover ul.niveau3 {display:block;}
div#menu44 ul.niveau3 li.sousmenu:hover ul.niveau4  {display:block;}

div#menu44 li a:hover {border-left-color: #0000FF;}
div#menu44 ul ul li a:hover {border-left-color: #CC0000;}
div#menu44 ul ul ul li a:hover {border-left-color: #FFFF00;}
div#menu44 ul ul ul ul li a:hover {border-left-color: #000000;}
div#menu44 ul ul ul ul ul li a:hover {border-left-color: #FF0000;}

 
.raised2 {background: #none; margin:0 auto;}
.raised2 p {margin:0 10px; padding:0px;}
.raised2 .top2, .raised2 .bottom2 {display:block; background:transparent; font-size:1px;}
.raised2 .b1, .raised2 .b2, .raised2 .b3, .raised2 .b4, .raised2 .b1b, .raised2 .b2b, .raised2 .b3b, .raised2 .b4b, .raised2 .b1b2 {display:block; overflow:hidden;}
.raised2 .b1, .raised2 .b2, .raised2 .b3, .raised2 .b1b, .raised2 .b2b, .raised2 .b3b, .raised2 .b1b2 {height:1px;}
.raised2 .b2 {BACKGROUND:#FFF4F4; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.raised2 .b3 {BACKGROUND:#FFF4F4; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.raised2 .b4 {BACKGROUND:#FFF4F4; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.raised2 .b4b {BACKGROUND:#FFF4F4; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.raised2 .b3b {BACKGROUND:#FFF4F4; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.raised2 .b2b {BACKGROUND:#FFF4F4; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.raised2 .b1 {margin:0 5px; background:#CCCCCC;}
.raised2 .b2, .raised2 .b2b {margin:0 3px; border-width:0 2px;}
.raised2 .b3, .raised2 .b3b {margin:0 2px;}
.raised2 .b4, .raised2 .b4b {height:2px; margin:0 1px;}
.raised2 .b1b {margin:0 5px; background:#CCCCCC; height:1px;}
.raised2 .b1b2 {margin:0 0px; background:#CCCCCC; height:1px;}
.raised2 .boxcontent2 {display:block;  BACKGROUND:#FFF4F4; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.raised2 .boxcontent2No {display:block; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC; BACKGROUND:#FFF4F4; border-top:1px #CCCCCC solid;}
.raised2 .contentTop2 {BACKGROUND:#FFF4F4; border-bottom:1px #CCCCCC solid;}

.backgroundHeader2 {BACKGROUND-COLOR: #FFCCCC;}

 
a.tooltip em {
    display:none;
}
a.tooltip:hover {
    border: 0; 
    position: relative; 
    z-index: 500; 
    text-decoration:none;
}
a.tooltip:hover em {
    font-style: normal; 
    display: block; 
    position: absolute; 
    top: 2px; 
    left: 63px; 
    padding: 5px; 
    color: #000000; 
    border: 2px dotted #CC0000; 
    background: #FFFF99; 
}

 
.searchEngineHeader {border:1px #CCCCCC solid; background:url(../im/loupe.gif) top left no-repeat #FFF4F4; width:140px; height:18px; padding-left:17px;}

 

 
a.tooltip2 em {
    display:none;
}
a.tooltip2:hover {
    border: 0; 
    position: relative; 
    z-index: 500; 
}
a.tooltip2:hover span {
    BACKGROUND-IMAGE:url(../im/zzz_red.gif);
}
a.tooltip2 span {
    padding:0px 0px 0px 0px;
}
a.tooltip2:hover em {
    font-style: normal; 
    display: block;
    position: absolute; 
    padding:5px 0px 0px 0px;  /* padding Box */
    color: #000000;  /* font Box */
    border: 1px solid #666666;  /* border Box */
    background-color: #FFFFFF;  /* background Box */
}

 
.fondSelectedProduct {background-color: #FF0000;}


a.tooltip3 em {
    display:none;
}
a.tooltip3:hover {
    border: 0; 
    position: relative; 
    z-index: 500; 
    text-decoration:none;
}
a.tooltip3:hover em {
    font-style: normal;
    display: block; 
    position: absolute; 
    top: 14px; 
    left: 63px; 
    padding: 5px; 
    color: #000000; 
    border: 0px solid #CCCCCC; 
    background: #none; 
}

 
.roundCornerTableDefaultBackground	{BACKGROUND-COLOR: #FFF4F4;}
.raised3 {background: #none; margin:0 auto;}
.raised3 p {margin:0 10px; padding:0px;}
.raised3 .top2, .raised3 .bottom2 {display:block; background:transparent; font-size:1px;}
.raised3 .b1, .raised3 .b2, .raised3 .b3, .raised3 .b4, .raised3 .b1b, .raised3 .b2b, .raised3 .b3b, .raised3 .b4b, .raised3 .b1b2 {display:block; overflow:hidden;}
.raised3 .b1, .raised3 .b2, .raised3 .b3, .raised3 .b1b, .raised3 .b2b, .raised3 .b3b, .raised3 .b1b2 {height:1px;}
.raised3 .b2 {BACKGROUND:#FFF4F4; border-left:1px solid #CC0000; border-right:1px solid #CC0000;}
.raised3 .b3 {BACKGROUND:#FFF4F4; border-left:1px solid #CC0000; border-right:1px solid #CC0000;}
.raised3 .b4 {BACKGROUND:#FFF4F4; border-left:1px solid #CC0000; border-right:1px solid #CC0000;}
.raised3 .b4b {BACKGROUND:#FFF4F4; border-left:1px solid #CC0000; border-right:1px solid #CC0000;}
.raised3 .b3b {BACKGROUND:#FFF4F4; border-left:1px solid #CC0000; border-right:1px solid #CC0000;}
.raised3 .b2b {BACKGROUND:#FFF4F4; border-left:1px solid #CC0000; border-right:1px solid #CC0000;}
.raised3 .b1 {margin:0 5px; background:#CC0000; height:1px;}
.raised3 .b2, .raised3 .b2b {margin:0 3px; border-width:0 2px;}
.raised3 .b3, .raised3 .b3b {margin:0 2px;}
.raised3 .b4, .raised3 .b4b {height:2px; margin:0 1px;}
.raised3 .b1b {margin:0 5px; background:#CC0000; height:1px;}
.raised3 .b1b2 {margin:0 0px; background:#CC0000; height:1px;}
.raised3 .boxcontent2 {display:block; BACKGROUND:#FFF4F4; border-left:1px solid #CC0000; border-right:1px solid #CC0000;}
.raised3 .boxcontent2No {display:block; border-left:1px solid #CC0000; border-right:1px solid #CC0000; BACKGROUND:#FFF4F4; border-top:1px #CC0000 solid;}


.raised4 {background: #none; margin:0 auto;}
.raised4 p {margin:0 10px; padding:0px;}
.raised4 .top2, .raised4 .bottom2 {display:block; background:transparent; font-size:1px;}
.raised4 .b1, .raised4 .b2, .raised4 .b3, .raised4 .b4, .raised4 .b1b, .raised4 .b2b, .raised4 .b3b, .raised4 .b4b, .raised4 .b1b2 {display:block; overflow:hidden;}
.raised4 .b1, .raised4 .b2, .raised4 .b3, .raised4 .b1b, .raised4 .b2b, .raised4 .b3b, .raised4 .b1b2 {height:1px;}
.raised4 .b2 {BACKGROUND:#FFF4F4; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.raised4 .b3 {BACKGROUND:#FFF4F4; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.raised4 .b4 {BACKGROUND:#FFF4F4; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.raised4 .b4b {BACKGROUND:#FFF4F4; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.raised4 .b3b {BACKGROUND:#FFF4F4; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.raised4 .b2b {BACKGROUND:#FFF4F4; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.raised4 .b1 {margin:0 5px; background:#C4C4C4; height:1px;}
.raised4 .b2, .raised4 .b2b {margin:0 3px; border-width:0 2px;}
.raised4 .b3, .raised4 .b3b {margin:0 2px;}
.raised4 .b4, .raised4 .b4b {height:2px; margin:0 1px;}
.raised4 .b1b {margin:0 5px; background:#C4C4C4; height:1px;}
.raised4 .b1b2 {margin:0 0px; background:#C4C4C4; height:1px;}
.raised4 .boxcontent2 {display:block; BACKGROUND:#FFF4F4; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.raised4 .boxcontent2No {display:block; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4; BACKGROUND:#FFF4F4; border-top:1px #C4C4C4 solid;}

.tableDynMenuHRounded {
    background-color:#none;
    padding-bottom:2px;
    padding-top:0px;
    margin-bottom:0px;
}

#formG input {
	border:1px solid #999999;
	color:#666666;
	height:23px;
}
#formG textarea {
	border:1px solid #999999;
	color:#666666;
}

.knop{
    color: black; 
   font-size: 10px; 
   font-family: arial, serif; 
   background: #d1e6ff;
   border: solid 1px #535353
   }

.vullen{
    color: black; 
   font-size: 10px; 
   font-family: arial, serif; 
   background: #ffffff;
   border: solid 1px #c0c0c0
   }

.breedte{
   color: black; 
   font-size: 10px; 
   font-family: arial, serif; 
   background: #ffffff;
	width:300;
   border: solid 1px #535353
   }

.plat{
font-family:arial,tahoma, serif;
font-size: 8pt;

color: black
}
