FONT             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px;  COLOR: #000000}
TD               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px;  COLOR: #000000}
TR               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px;  COLOR: #000000}
BODY             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px; BACKGROUND-IMAGE: none; SCROLLBAR-FACE-COLOR: #7AC52D; SCROLLBAR-HIGHLIGHT-COLOR: #F7F7F7; SCROLLBAR-SHADOW-COLOR: #D3F069; SCROLLBAR-3DLIGHT-COLOR: #D3F069; SCROLLBAR-ARROW-COLOR: #FFFFFF; SCROLLBAR-TRACK-COLOR: #FFFFFF; SCROLLBAR-DARKSHADOW-COLOR: #F7F7F7 }
P                {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px}
DIV              {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px}
INPUT            {BACKGROUND-COLOR: #F1F1F1; BORDER-TOP-COLOR: #363636; BORDER-LEFT-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
TEXTAREA         {BORDER-TOP-COLOR: #363636; BORDER-LEFT-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
SELECT           {BACKGROUND-COLOR: #F1F1F1; BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
FORM             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px}
HR 				 { COLOR #CCCCCC; BORDER:0; BACKGROUND-COLOR: #CCCCCC; HEIGHT:1}

A:link           {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:active         {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:visited        {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:hover          {BACKGROUND: #F1F1F1; COLOR: #666666; FONT-SIZE: 9px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}

.titre                                      {BACKGROUND-COLOR: #FAFAFA; COLOR: #000000; FONT-SIZE: 9px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; letter-spacing: 1px}
.fontrouge                                  {COLOR: #FF0000}
.FontGris                                   {COLOR: #F1751C}
.PromoFontColorNumber                       {COLOR: #AB1D7B; FONT-SIZE: 13px;}

.TABLEMenuPathTopPage                       {BACKGROUND-COLOR: #FFFFFF; border: 1px #FFFFFF; border-right-style:solid; border-left-style:solid; border-top-style:solid; border-bottom-style:solid}
.TABLE1                                     {BACKGROUND-COLOR: #FFFFFF; border: 1px #f1f1f1 solid }
.TABLEBoxesProductsDisplayedCentrePage      {BACKGROUND-COLOR: #FAFAFA; border: 1px #f1f1f1 solid}
.TABLEBoxProductsDisplayedTop               {BACKGROUND-COLOR: #FFFFFF; border-width:0px; border-color:#dcdcdc; border-bottom-style:dotted; border-left-style:none; border-right-style:none; border-top-style:none; padding:5px; }
.TABLEBoxProductsDisplayedMiddle            {BACKGROUND-COLOR: #FFFFFF; border-width:0px; border-color:#dcdcdc; border-left-style:solid; border-right-style:solid; border-bottom-style:solid}
.TABLEBoxesProductsDisplayedBottom          {BACKGROUND-COLOR: #FFFFFF; border-width:0px; border-color:#dcdcdc; border-left-style:none; border-right-style:none; border-bottom-style:none; border-top-style:none }
.TDTableListLine1                           {BACKGROUND-COLOR: #FFFFFF}
.TDTableListLine2                           {BACKGROUND-COLOR: #fbfbfb}
.toto                                       {BACKGROUND-COLOR: #FFFFFF; border-width:0px; border-color:#FFFFFF; border-top-style:none; border-left-style:none; border-right-style:none; border-bottom-style:solid; padding:0px; }

#tab A{
background-color: #FAFAFA; 
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
display: block;
text-decoration: none;
font: bold 10px Arial;
color: #000000;
/*height: 16px;*/
width=75px;
float: left;
margin-right: 1px;
margin-left: 0px;
margin-bottom: 0px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 7px;
padding-left: 7px;
text-align: center;
position:relative;
white-space:nowrap;
}
#tab A:hover, #tab A.current{
BACKGROUND-COLOR: #FAFAFA;
background: url(../../im/background/menutab_background1.gif) no-repeat bottom center #FAFAFA ;
color: #666666;
}
#tab A.here:visited {
  background: #AB1D7B;
  background: url(../../im/background/menutab_background3.gif) no-repeat bottom center #333333;
color: #FFFFFF;
}