FONT             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
TD               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
TR               {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px;  COLOR: #000000}
BODY             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px; BACKGROUND-COLOR: #FFFF00; SCROLLBAR-FACE-COLOR: #FFFF66; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; SCROLLBAR-SHADOW-COLOR: #FFFFFF; SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #F6F6EB; SCROLLBAR-DARKSHADOW-COLOR: #000000 }
P                {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
DIV              {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
INPUT            {BORDER-TOP-COLOR: #363636; BORDER-LEFT-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
TEXTAREA         {BORDER-TOP-COLOR: #363636; BORDER-LEFT-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
SELECT           {BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
FORM             {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
HR 				 { COLOR #CC9933; BORDER:0; BACKGROUND-COLOR: #CC9933; HEIGHT:1}

A:link           {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:active         {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:visited        {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:hover          {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline }

.titre           {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; letter-spacing: 2px}
.fontrouge       {COLOR: #CC0000}
.FontGris        {COLOR: #CCCCCC}
.PromoFontColorNumber  {COLOR: #CC0000; FONT-SIZE: 13px;}

.TABLEMenuPathTopPage                   {BACKGROUND-COLOR: #CC9933; border-width:1px; border-color:#000000; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; border-top-style:none}
.TABLE1                                 {BACKGROUND-COLOR: #FFFFFF; border: 1px #000000 solid }
.TABLEBoxesProductsDisplayedCentrePage  {BACKGROUND-COLOR: #CC9933; border: 1px #CC9933 solid}
.TABLEBoxProductsDisplayedTop           {BACKGROUND-COLOR: #FFCC00; border: 3px #FFFFFF solid; padding:4px}
.TABLEBoxProductsDisplayedMiddle        {BACKGROUND-COLOR: #FFFFFF; border: 0px #CCCCCC solid}
.TABLEBoxesProductsDisplayedBottom      {BACKGROUND-COLOR: #FFFFFF; border-width:0px; border-color:#CC9933; border-left-style:none; border-right-style:none; border-bottom-style:none; border-top-style:solid}
.TDTableListLine1                       {BACKGROUND-COLOR: #FFFF66}
.TDTableListLine2                       {BACKGROUND-COLOR: #FFFF00}
.toto                 {BACKGROUND-COLOR: none; border-width:1px; border-color:#000000; border-top-style:none; border-left-style:none; border-right-style:none; border-bottom-style:solid; padding:0px; }

#tab A{
background-color: #CC9933; 
	border-left:1px solid #CC9933;
	border-top:1px solid #CC9933;
	border-right:1px solid #CC9933;
	border-bottom:1px solid #CC9933;
display: block;
text-decoration: none;
font: bold 9px Arial;
color: #FFFFFF;
/*height: 16px;*/
width=75px;
float: left;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 7px;
padding-left: 7px;
/*background-image: url(../im/background/menutab_background1.gif);*/
text-align: center;
white-space:nowrap;
}
#tab A:hover, #tab A.current{
background-color: #FFCC00;
border-top:1px solid #CC9933;
background: url(../im/background/menutab_background1.gif) no-repeat bottom center #FFFF00 ;
color: #000000;
}
#tab A.here:visited {
  background: url(../im/background/menutab_background3.gif) no-repeat bottom center #CC0000 ;
  border-top:1px solid #CC9933;
  color: #FFFFFF;
}

/* Pagination des pages page list.php, ipos/list.php, zoeken.php */
div.pagination {
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 0px;
   text-align:right;
}
div.pagination a {
	padding: 0px 3px 1px 3px;
	margin: 1px 1px 1px 0px;
	border: 1px solid #CC9933;
	text-decoration: none; /* no underline */
	color: #000000;
}
div.pagination a:hover {
	border: 1px solid #FFA800;
	color: #000000;
	background-color: #FFFF66;
}
div.pagination span.current {
	padding: 0px 3px 1px 3px;
	margin: 1px 1px 1px 0px;
	border: 3px solid #FFA800;
	background-color: #FFFF66;
	color: #000000;
	font-weight:bold;
}
/* Pagination fleches navigation*/ 
div.pagination span.disabled a {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background:#CC9933;
}
div.pagination span.disabled a:hover {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background:#CC9933;
}
